.title h2, .title h3{
    letter-spacing: 5px;
}

.title h2{
    font-size: 5rem;
    color: #f1f1f1;
}
.title h3{
    font-size: 2.5rem;
}

#about{
    background-image: url(../img/overlay-bg.jpg);
}